In [1]:

import pandas as pd
import numpy as np

#read csv file
df = pd.read_csv('data/data-cleanup-io/2023_subway_censusvar_agg.csv')
df2 = pd.read_csv('data/data-cleanup-io/elevator-avail-2023.csv')

In [2]:
# show me the column names in df2
print(df2.columns)

Index(['Month', 'Borough', 'Equipment Type', 'Equipment Code', 'Total Outages',
       'Scheduled Outages', 'Unscheduled Outages', 'Entrapments',
       'Time Since Major Improvement', 'AM Peak Availability',
       'AM Peak Hours Available', 'AM Peak Total Hours',
       'PM Peak Availability', 'PM Peak Hours Available',
       'PM Peak Total Hours', '24-Hour Availability',
       '24-Hour Hours Available', '24-Hour Total Hours', 'Station Name',
       'Station MRN', 'Station Complex Name', 'Station Complex MRN'],
      dtype='object')

In [3]:
print (df.columns)

Index(['Month', 'Borough', 'Equipment Type', 'Common Name', 'Total Outages',
       'Scheduled Outages', 'Unscheduled Outages', 'Entrapments',
       'Time Since Major Improvement', 'AM Peak Availability',
       'AM Peak Hours Available', 'AM Peak Total Hours',
       'PM Peak Availability', 'PM Peak Hours Available',
       'PM Peak Total Hours', '24-Hour Availability',
       '24-Hour Hours Available', '24-Hour Total Hours', 'Station Name',
       'Station MRN', 'Station Complex Name', 'Station Complex MRN'],
      dtype='object')

In [89]:
#rename columns
df2.rename(columns={'Equipment Code':'Common Name'}, inplace=True)

In [90]:


# Perform a left join to merge the DataFrames on the "Common Name" column
df_updated = pd.merge(df, df2[['Common Name', 'Time Since Major Improvement']], on='Common Name', how='left')

In [ ]:
# Do not run this cell; the columns have already been dropped

# Drop rows where "Common Name" or "Time Since Major Improvement" is NaN before the operation
df_clean = df_updated.dropna(subset=['Common Name', 'Time Since Major Improvement'])

# Then, proceed with grouping and finding the index of the max "Time Since Major Improvement"
idx = df_clean.groupby('Common Name')['Time Since Major Improvement'].idxmax()

# Select rows by the indices found
df_max_improvement = df_clean.loc[idx]

# df_max_improvement now contains rows of the highest "Time Since Major Improvement" for each "Common Name"

In [14]:
#write to csv
df_max_improvement.to_csv('data/data-cleanup-io/2023_subway_merged2.csv', index=False)

In [32]:
#read csv file 
df = pd.read_csv('data/data-cleanup-io/average-weekday-rider-2021.csv')

In [8]:
import pandas as pd


# Step 2: Extract data within brackets in the "Station Complex Name" column using a more specific regex pattern
# Adjusted regex pattern to capture the content within parentheses, assuming the actual delimiter is a parenthesis and not a bracket
df['Daytime Routes'] = df['Station Complex Name'].str.extract('\((.*?)\)')

# Step 3: Clean the extracted data - remove commas if they are not needed
df['Daytime Routes'] = df['Daytime Routes'].str.replace(',', ' ')

# Optionally, Step 4: Remove the data within brackets from the original "Station Complex Name" column
df['Station Complex Name'] = df['Station Complex Name'].str.replace('\s*\([^)]*\)\s*', '', regex=True)

# Show the result
print(df[['Station Complex Name', '2021', 'Daytime Routes']].head())

KeyError: "['2021'] not in index"

In [9]:
#writing to csv
df.to_csv('data/data-cleanup-io/average-weekday-rider-2021 new.csv', index=False)

In [12]:
#read csv file
df = pd.read_csv('data/data-cleanup-io/average-weekday-rider-2021 new2.csv')
df['Ridership'] = df['Ridership'].str.replace(',', '').astype(int)
df

                  Stop Name  Ridership   Daytime Routes
0    138 St-Grand Concourse       2127              4 5
1    149 St-Grand Concourse       5873            2 4 5
2     161 St-Yankee Stadium      12374            B D 4
3                    167 St       5066                4
4                    167 St       4723              B D
..                      ...        ...              ...
270                   33 St      11930                6
271         34 St-Herald Sq      45739  B D F M N Q R W
272      34 St-Hudson Yards       8608                7
273      34 St-Penn Station      27237            1 2 3
274      34 St-Penn Station      30078            A C E

[275 rows x 3 columns]

In [56]:
#change column names
df.rename(columns={'Station Complex Name':'Stop Name','2021':'Ridership'}, inplace=True)
df

                  Stop Name Ridership   Daytime Routes
0    138 St-Grand Concourse     2,127              4 5
1    149 St-Grand Concourse     5,873            2 4 5
2     161 St-Yankee Stadium    12,374            B D 4
3                    167 St     5,066                4
4                    167 St     4,723              B D
..                      ...       ...              ...
270                   33 St    11,930                6
271         34 St-Herald Sq    45,739  B D F M N Q R W
272      34 St-Hudson Yards     8,608                7
273      34 St-Penn Station    27,237            1 2 3
274      34 St-Penn Station    30,078            A C E

[275 rows x 3 columns]

In [13]:
#write to csv
df.to_csv('data/data-cleanup-io/average-weekday-rider-2021 new2.csv', index=False)

In [14]:
df3=pd.read_csv('data/data-cleanup-io/2023_subway_merged2.csv')
df4=pd.read_csv('data/data-cleanup-io/average-weekday-rider-2021 new2.csv')

In [15]:
#colum names 
print(df3.columns)
print(df4.columns)

Index(['GEOID', 'Common Name', 'Equipment Description', 'Station MRN_x',
       'Station ID', 'Complex ID', 'GTFS Stop ID', 'Division', 'Line',
       'Stop Name', 'Borough_x', 'Daytime Routes', 'Structure', 'lat', 'long',
       'North Direction Label', 'South Direction Label', 'ADA', 'ADA Notes',
       'Georeference', 'STATE', 'COUNTY', 'TRACT', 'BLOCK', 'NAME', 'geometry',
       'population_estimate', 'sub_pop_estimate', 'amb_pop_estimate',
       'med_earn_estimate', 'population_moe', 'sub_pop_moe', 'amb_pop_moe',
       'med_earn_moe', 'outage_count', 'Time Since Major Improvement_x',
       'Month', 'Borough_y', 'Equipment Type', 'Total Outages',
       'Scheduled Outages', 'Unscheduled Outages', 'Entrapments',
       'Time Since Major Improvement_y', 'AM Peak Availability',
       'AM Peak Hours Available', 'AM Peak Total Hours',
       'PM Peak Availability', 'PM Peak Hours Available',
       'PM Peak Total Hours', '24-Hour Availability',
       '24-Hour Hours Available', '24-Hour Total Hours', 'Station Name',
       'Station MRN_y', 'Station Complex Name', 'Station Complex MRN',
       'Time Since Major Improvement'],
      dtype='object')
Index(['Stop Name', 'Ridership', 'Daytime Routes'], dtype='object')

In [16]:
import pandas as pd

# Performing a left join to keep all rows from df and match with df1
merged_df = pd.merge(df3, df4, on=["Stop Name", "Daytime Routes"], how='left')

# List of columns from df1 that you want to ensure are blank if no match is found
# Replace 'Column1', 'Column2', etc., with the actual column names from df1
columns_from_df1 = ['Column1', 'Column2']

# Filling NaN values with blank strings for the specified columns from df1
for column in columns_from_df1:
    if column in merged_df.columns:  # Check if the column is in the merged DataFrame
        merged_df[column] = merged_df[column].fillna('')

# Now, merged_df contains the merged data with blanks for unmatched columns from df1

merged_df.head(20)

,GEOID,Common Name,Equipment Description,Station MRN_x,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,...,PM Peak Total Hours,24-Hour Availability,24-Hour Hours Available,24-Hour Total Hours,Station Name,Station MRN_y,Station Complex Name,Station Complex MRN,Time Since Major Improvement,Ridership
0,36061027900,EL103,ELE: EL103 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.976008,726.150000,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,4612.0
1,36061027900,EL104,ELE: EL104 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.892047,663.683333,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,4612.0
2,36061027900,EL105,ELE: EL105 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.972110,723.250000,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,4612.0
3,36061027900,EL106,ELE: EL106 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.966689,719.216667,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,4612.0
4,36061026900,EL107,ELE: EL107 - 301 - 181 St,301,301,301,111,IRT,Broadway - 7Av,181 St,...,124.0,0.955802,711.116667,744.0,181ST-BWY7-1,301.0,181 St - Station,301.0,25.0,348.0

In [17]:
merged_df.head(20)

,GEOID,Common Name,Equipment Description,Station MRN_x,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,...,PM Peak Total Hours,24-Hour Availability,24-Hour Hours Available,24-Hour Total Hours,Station Name,Station MRN_y,Station Complex Name,Station Complex MRN,Time Since Major Improvement,Ridership
0,36061027900,EL103,ELE: EL103 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.976008,726.150000,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,4612.0
1,36061027900,EL104,ELE: EL104 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.892047,663.683333,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,4612.0
2,36061027900,EL105,ELE: EL105 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.972110,723.250000,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,4612.0
3,36061027900,EL106,ELE: EL106 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.966689,719.216667,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,4612.0
4,36061026900,EL107,ELE: EL107 - 301 - 181 St,301,301,301,111,IRT,Broadway - 7Av,181 St,...,124.0,0.955802,711.116667,744.0,181ST-BWY7-1,301.0,181 St - Station,301.0,25.0,348.0
5,36061026900,EL108,ELE: EL108 - 301 - 181 St,301,301,301,111,IRT,Broadway - 7Av,181 St,...,124.0,0.981093,729.933333,744.0,181ST-BWY7-1,301.0,181 St - Station,301.0,25.0,348.0
6,36061026900,EL109,ELE: EL109 - 301 - 181 St,301,301,301,111,IRT,Broadway - 7Av,181 St,...,124.0,0.977778,727.466667,744.0,181ST-BWY7-1,301.0,181 St - Station,301.0,25.0,348.0
7,36061026900,EL110,ELE: EL110 - 301 - 181 St,301,301,301,111,IRT,Broadway - 7Av,181 St,...,124.0,0.992070,738.100000,744.0,181ST-BWY7-1,301.0,181 St - Station,301.0,25.0,348.0
8,36061025100,EL111,ELE: EL111 - 302 - 168 St,302,302,605,112,IRT,Broadway - 7Av,168 St-Washington Hts,...,124.0,0.991891,737.966667,744.0,168ST-BWY7-1,302.0,"168 St (A,C,1)",605.0,48.0,NaN
9,36061025100,EL112,ELE: EL112 - 302 - 168 St,302,302,605,112,IRT,Broadway - 7Av,168 St-Washington Hts,...,124.0,0.818705,609.116667,744.0,168ST-BWY7-1,302.0,"168 St (A,C,1)",605.0,48.0,NaN
10,36061025100,EL113,ELE: EL113 - 302 - 168 St,302,302,605,112,IRT,Broadway - 7Av,168 St-Washington Hts,...,124.0,0.945878,703.733333,744.0,168ST-BWY7-1,302.0,"168 St (A,C,1)",605.0,48.0,NaN
11,36061025100,EL114,ELE: EL114 - 302 - 168 St,302,302,605,112,IRT,Broadway - 7Av,168 St-Washington Hts,...,124.0,0.696281,518.033333,744.0,168ST-BWY7-1,302.0,"168 St (A,C,1)",605.0,48.0,NaN
12,36061028100,EL115,ELE: EL115 - 145 - 190 St,145,145,145,A05,IND,8th Av - Fulton St,190 St,...,124.0,0.969691,721.450000,744.0,190ST-8AV-A,145.0,190 St - Station,145.0,24.0,1466.0
13,36061028100,EL116,ELE: EL116 - 145 - 190 St,145,145,145,A05,IND,8th Av - Fulton St,190 St,...,124.0,0.983535,731.750000,744.0,190ST-8AV-A,145.0,190 St - Station,145.0,25.0,1466.0
14,36061027300,EL117,ELE: EL117 - 146 - 181 St - Mezzanine A at 184 St,146,146,146,A06,IND,8th Av - Fulton St,181 St,...,124.0,0.876837,652.366667,744.0,181ST-8AV-A,146.0,181 St - Station,146.0,40.0,6319.0
15,36061027300,EL118,ELE: EL118 - 146 - 181 St - Mezzanine A at 184 St,146,146,146,A06,IND,8th Av - Fulton St,181 St,...,124.0,0.979055,728.416667,744.0,181ST-8AV-A,146.0,181 St - Station,146.0,40.0,6319.0
16,36061027300,EL119,ELE: EL119 - 146 - 181 St - Mezzanine A at 184 St,146,146,146,A06,IND,8th Av - Fulton St,181 St,...,124.0,0.989337,736.066667,744.0,181ST-8AV-A,146.0,181 St - Station,146.0,40.0,6319.0
17,36061028100,EL120,ELE: EL120 - 145 - 190 St,145,145,145,A05,IND,8th Av - Fulton St,190 St,...,124.0,0.993996,739.533333,744.0,190ST-8AV-A,145.0,190 St - Station,145.0,25.0,1466.0
18,36005030000,EL121,ELE: EL121 - 360 - Pelham Bay Park,360,360,360,601,IRT,Pelham,Pelham Bay Park,...,124.0,0.979727,728.916667,744.0,PELHAMBAYPARK-PEL-6,360.0,Pelham Bay Park - Station,360.0,92.0,3301.0
19,36005030000,EL122,ELE: EL122 - 360 - Pelham Bay Park,360,360,360,601,IRT,Pelham,Pelham Bay Park,...,124.0,0.993392,739.083333,744.0,PELHAMBAYPARK-PEL-6,360.0,Pelham Bay Park - Station,360.0,92.0,3301.0

In [1]:
#writing to csv
merged_df.to_csv('elevator_final.csv', index=False)

NameError: name 'merged_df' is not defined

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Read the CSV files
df1 = pd.read_csv('elevator_final.csv')
print(df1.columns)

Index(['GEOID', 'Common Name', 'Equipment Description', 'Station ID',
       'Complex ID', 'GTFS Stop ID', 'Division', 'Line', 'Stop Name',
       'Borough_x', 'Daytime Routes', 'Structure', 'lat', 'long',
       'North Direction Label', 'South Direction Label', 'ADA', 'Georeference',
       'STATE', 'COUNTY', 'TRACT', 'BLOCK', 'NAME', 'geometry',
       'population_estimate', 'sub_pop_estimate', 'amb_pop_estimate',
       'med_earn_estimate', 'population_moe', 'sub_pop_moe', 'amb_pop_moe',
       'med_earn_moe', 'outage_count', 'Borough_y', 'Equipment Type',
       'Time Since Major Improvement_y', 'AM Peak Availability',
       'AM Peak Hours Available', 'AM Peak Total Hours',
       'PM Peak Availability', 'PM Peak Hours Available',
       'PM Peak Total Hours', '24-Hour Availability',
       '24-Hour Hours Available', '24-Hour Total Hours', 'Station Name',
       'Time Since Major Improvement', 'Ridership', 'Route count',
       'Major Interchange'],
      dtype='object')

In [5]:
# Station MRN_x, ADA Notes, Time Since Major Improvement_x, Month, Total Outages, 'Scheduled Outages', 'Unscheduled Outages', 'Entrapments', 'Station Name', 'Station MRN_y', 'Station Complex Name', 'Station Complex MRN',
# drop the columns
df1.drop(['Station MRN_x', 'ADA Notes', 'Time Since Major Improvement_x', 'Month', 'Total Outages', 'Scheduled Outages', 'Unscheduled Outages', 'Entrapments', 'Station MRN_y', 'Station Complex Name', 'Station Complex MRN'], axis=1, inplace=True)
print(df1.columns)

KeyError: "['Station MRN_x', 'ADA Notes', 'Time Since Major Improvement_x', 'Month', 'Total Outages', 'Scheduled Outages', 'Unscheduled Outages', 'Entrapments', 'Station MRN_y', 'Station Complex Name', 'Station Complex MRN'] not found in axis"

In [6]:
#dtypes of columns
print(df1.dtypes)

GEOID                               int64
Common Name                        object
Equipment Description              object
Station ID                          int64
Complex ID                          int64
GTFS Stop ID                       object
Division                           object
Line                               object
Stop Name                          object
Borough_x                          object
Daytime Routes                     object
Structure                          object
lat                               float64
long                              float64
North Direction Label              object
South Direction Label              object
ADA                                 int64
Georeference                       object
STATE                               int64
COUNTY                              int64
TRACT                               int64
BLOCK                               int64
NAME                               object
geometry                           object
population_estimate                 int64
sub_pop_estimate                    int64
amb_pop_estimate                    int64
med_earn_estimate                 float64
population_moe                      int64
sub_pop_moe                         int64
amb_pop_moe                         int64
med_earn_moe                      float64
outage_count                        int64
Borough_y                          object
Equipment Type                     object
Time Since Major Improvement_y    float64
AM Peak Availability              float64
AM Peak Hours Available           float64
AM Peak Total Hours               float64
PM Peak Availability              float64
PM Peak Hours Available           float64
PM Peak Total Hours               float64
24-Hour Availability              float64
24-Hour Hours Available           float64
24-Hour Total Hours               float64
Station Name                       object
Time Since Major Improvement      float64
Ridership                         float64
Route count                         int64
Major Interchange                   int64
dtype: object

In [105]:

# Function to count characters excluding spaces
def count_characters(s):#
    return len(s.replace(' ', ''))


df1['Route count'] = df1['Daytime Routes'].apply(count_characters)
df1['Major Interchange'] = (df1['Route count'] >= 3).astype(int)
#print column names
print(df1.columns)

Index(['GEOID', 'Common Name', 'Equipment Description', 'Station ID',
       'Complex ID', 'GTFS Stop ID', 'Division', 'Line', 'Stop Name',
       'Borough_x', 'Daytime Routes', 'Structure', 'lat', 'long',
       'North Direction Label', 'South Direction Label', 'ADA', 'Georeference',
       'STATE', 'COUNTY', 'TRACT', 'BLOCK', 'NAME', 'geometry',
       'population_estimate', 'sub_pop_estimate', 'amb_pop_estimate',
       'med_earn_estimate', 'population_moe', 'sub_pop_moe', 'amb_pop_moe',
       'med_earn_moe', 'outage_count', 'Borough_y', 'Equipment Type',
       'Time Since Major Improvement_y', 'AM Peak Availability',
       'AM Peak Hours Available', 'AM Peak Total Hours',
       'PM Peak Availability', 'PM Peak Hours Available',
       'PM Peak Total Hours', '24-Hour Availability',
       '24-Hour Hours Available', '24-Hour Total Hours', 'Station Name',
       'Time Since Major Improvement', 'Ridership', 'Route count',
       'Major Interchange'],
      dtype='object')

In [7]:
# Group the data by 'Station Name' and aggregate both the sum, average, and median of 'outage_count'
df1_grouped = df1.groupby('Station Name')['outage_count'].agg(
    total_outage_count='sum',
    average_outage_count='mean',
    median_outage_count='median'
).reset_index()

# Display the resulting DataFrame
df1_grouped

,Station Name,total_outage_count,average_outage_count,median_outage_count
0,125ST-8AV-A/B/C/D,145,48.333333,50.0
1,125ST-LEX-4/5/6,131,65.500000,65.5
2,135ST-LWP-2/3,93,46.500000,46.5
3,14ST-8AV-A/C/E,120,60.000000,60.0
4,14ST-UNIONSQ-BWY-N/R/Q,87,43.500000,43.5
...,...,...,...,...
121,TIMESSQ-42ST-7AV-1/2/3,120,60.000000,60.0
122,TIMESSQ-42ST-BWY-N/R/Q,122,40.666667,44.0
123,UTICAAV-8AV-A/C,141,47.000000,48.0
124,W4ST-WASHSQ-8AV-A/B/C/D/E/F/M,314,104.666667,98.0
125,WORLDTRADECENTER-8AV-E,37,37.000000,37.0

In [8]:
# add amb_pop_estimate column from df1 to df1_grouped, merge on Stop Name
df1_grouped = pd.merge(df1_grouped, df1[['Station Name', 'amb_pop_estimate','Ridership','Time Since Major Improvement','med_earn_estimate','Route count','Major Interchange','population_estimate']], on='Station Name', how='left')

In [9]:
df1_grouped

,Station Name,total_outage_count,average_outage_count,median_outage_count,amb_pop_estimate,Ridership,Time Since Major Improvement,med_earn_estimate,Route count,Major Interchange,population_estimate
0,125ST-8AV-A/B/C/D,145,48.333333,50.0,3303,13324.0,216.0,22000.0,4,1,3674
1,125ST-8AV-A/B/C/D,145,48.333333,50.0,3303,13324.0,216.0,22000.0,4,1,3674
2,125ST-8AV-A/B/C/D,145,48.333333,50.0,3303,13324.0,216.0,22000.0,4,1,3674
3,125ST-LEX-4/5/6,131,65.500000,65.5,3388,11943.0,86.0,20093.0,3,1,3910
4,125ST-LEX-4/5/6,131,65.500000,65.5,3388,11943.0,86.0,20093.0,3,1,3910
...,...,...,...,...,...,...,...,...,...,...,...
300,UTICAAV-8AV-A/C,141,47.000000,48.0,4586,6989.0,115.0,85577.0,2,0,4761
301,W4ST-WASHSQ-8AV-A/B/C/D/E/F/M,314,104.666667,98.0,5091,NaN,224.0,176711.0,3,1,5384
302,W4ST-WASHSQ-8AV-A/B/C/D/E/F/M,314,104.666667,98.0,5091,NaN,224.0,176711.0,4,1,5384
303,W4ST-WASHSQ-8AV-A/B/C/D/E/F/M,314,104.666667,98.0,5091,NaN,224.0,176711.0,3,1,5384
304,WORLDTRADECENTER-8AV-E,37,37.000000,37.0,6570,NaN,64.0,250001.0,1,0,7379

In [10]:
df1_grouped = df1_grouped.drop_duplicates(subset='Station Name', keep='first')
df1_grouped

,Station Name,total_outage_count,average_outage_count,median_outage_count,amb_pop_estimate,Ridership,Time Since Major Improvement,med_earn_estimate,Route count,Major Interchange,population_estimate
0,125ST-8AV-A/B/C/D,145,48.333333,50.0,3303,13324.0,216.0,22000.0,4,1,3674
3,125ST-LEX-4/5/6,131,65.500000,65.5,3388,11943.0,86.0,20093.0,3,1,3910
5,135ST-LWP-2/3,93,46.500000,46.5,5888,6412.0,187.0,77701.0,2,0,6185
7,14ST-8AV-A/C/E,120,60.000000,60.0,7212,NaN,255.0,144375.0,3,1,7318
9,14ST-UNIONSQ-BWY-N/R/Q,87,43.500000,43.5,3143,NaN,283.0,165972.0,4,1,3254
...,...,...,...,...,...,...,...,...,...,...,...
293,TIMESSQ-42ST-7AV-1/2/3,120,60.000000,60.0,107,NaN,209.0,81667.0,3,1,107
295,TIMESSQ-42ST-BWY-N/R/Q,122,40.666667,44.0,107,NaN,247.0,81667.0,4,1,107
298,UTICAAV-8AV-A/C,141,47.000000,48.0,4586,6989.0,115.0,85577.0,2,0,4761
301,W4ST-WASHSQ-8AV-A/B/C/D/E/F/M,314,104.666667,98.0,5091,NaN,224.0,176711.0,3,1,5384
304,WORLDTRADECENTER-8AV-E,37,37.000000,37.0,6570,NaN,64.0,250001.0,1,0,7379

In [11]:
#write to csv
df1_grouped.to_csv('data/data-cleanup-io/df1_grouped.csv', index=False)

In [74]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [75]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [76]:
%%R

# My commonly used R imports

require('tidyverse')

In [77]:
%%R -i df1_grouped
#print column names
print(colnames(df1_grouped))

[1] "Stop Name"        "outage_count"     "amb_pop_estimate"

In [79]:
%%R -i df1_grouped

df1_grouped

                             Stop Name outage_count amb_pop_estimate
0                                 1 Av           98             6841
1                                 1 Av           98             6841
2                               125 St          276             3388
3                               125 St          276             3388
4                               125 St          276             3303
5                               125 St          276             3303
6                               125 St          276             3303
7                               135 St           93             5888
8                               135 St           93             5888
9                                14 St          120             7212
10                               14 St          120             7212
11                      14 St-Union Sq          170             3143
12                      14 St-Union Sq          170             4951
13                      14 St-Union Sq          170             3143
14                      14 St-Union Sq          170             3143
15               161 St-Yankee Stadium          262             7525
16               161 St-Yankee Stadium          262             7525
17               161 St-Yankee Stadium          262             7525
18               161 St-Yankee Stadium          262             7525
19               161 St-Yankee Stadium          262             7525
20                              168 St          113             2567
21                              168 St          113             2567
22                              168 St          113             2567
23               168 St-Washington Hts          418             2567
24               168 St-Washington Hts          418             2567
25               168 St-Washington Hts          418             2567
26               168 St-Washington Hts          418             2567
27                              170 St          190             3765
28                              170 St          190             3765
29                              170 St          190             3765
30                              175 St          107             9081
31                              175 St          107             9081
32                              181 St          763             9154
33                              181 St          763             9154
34                              181 St          763             9154
35                              181 St          763             9154
36                              181 St          763             7285
37                              181 St          763             7285
38                              181 St          763             7285
39                              190 St          184             2931
40                              190 St          184             2931
41                              190 St          184             2931
42                              191 St          414            10869
43                              191 St          414            10869
44                              191 St          414            10869
45                              191 St          414            10869
46                  21 St-Queensbridge          180             5718
47                  21 St-Queensbridge          180             5718
48                  21 St-Queensbridge          180             5718
49                               23 St           72             7883
50                               23 St           72             7883
51                              231 St           95             2730
52                              231 St           95             2730
53                              233 St          139             2645
54                              233 St          139             2645
55                              233 St          139             2645
56                         3 Av-149 St          135             4827
57                         3 Av-149 St          135             4827
58                     34 St-Herald Sq          207             1645
59                     34 St-Herald Sq          207             1645
60                     34 St-Herald Sq          207             1645
61                     34 St-Herald Sq          207             1645
62                     34 St-Herald Sq          207             1645
63                  34 St-Hudson Yards          347              722
64                  34 St-Hudson Yards          347              722
65                  34 St-Hudson Yards          347              722
66                  34 St-Hudson Yards          347              722
67                  34 St-Penn Station          391             1645
68                  34 St-Penn Station          391             1645
69                  34 St-Penn Station          391             1645
70                  34 St-Penn Station          391              246
71                  34 St-Penn Station          391              246
72                  34 St-Penn Station          391              246
73                  34 St-Penn Station          391              246
74                  34 St-Penn Station          391             1645
75           47-50 Sts-Rockefeller Ctr          465             2292
76           47-50 Sts-Rockefeller Ctr          465             2292
77           47-50 Sts-Rockefeller Ctr          465             2292
78                               51 St          102             1721
79                               51 St          102             1721
80                          57 St-7 Av          213             6488
81                          57 St-7 Av          213             6488
82                          57 St-7 Av          213             6488
83                          57 St-7 Av          213             6488
84                               59 St          144             5205
85                               59 St          144             5205
86                               59 St          144             5205
87               59 St-Columbus Circle          321             5873
88               59 St-Columbus Circle          321             5873
89               59 St-Columbus Circle          321             5873
90               59 St-Columbus Circle          321             5873
91                66 St-Lincoln Center          113             5279
92                66 St-Lincoln Center          113             5279
93                                7 Av           14             3887
94                                7 Av           14             3887
95                                7 Av           14             3887
96                               72 St          279             8164
97                               72 St          279             8164
98                               72 St          279             4616
99                               72 St          279             4616
100                              72 St          279             4616
101                              72 St          279             4616
102                              72 St          279             4616
103                              72 St          279             4616
104                     74 St-Broadway           98             5380
105                     74 St-Broadway           98             5380
106                               8 Av          194             4016
107                               8 Av          194             4016
108                               8 Av          194             1873
109                               8 Av          194             1873
110                              86 St          252             4121
111                              86 St          252             4121
112                              86 St          252             2554
113                              86 St          252             3221
114                              86 St          252             3221
115                              96 St          319             8201
116                              96 St          319             8201
117                              96 St          319             2136
118                              96 St          319             2136
119                       Astoria Blvd          200             1489
120                       Astoria Blvd          200             1489
121                       Astoria Blvd          200             1489
122                       Astoria Blvd          200             1489
123           Atlantic Av-Barclays Ctr          327             2062
124           Atlantic Av-Barclays Ctr          327             2062
125           Atlantic Av-Barclays Ctr          327             2062
126           Atlantic Av-Barclays Ctr          327             2157
127           Atlantic Av-Barclays Ctr          327             2157
128           Atlantic Av-Barclays Ctr          327             2157
129           Atlantic Av-Barclays Ctr          327             2157
130                           Bay Pkwy           97             5772
131                           Bay Pkwy           97             5772
132                           Bay Pkwy           97             5772
133                         Bedford Av           86             2986
134                         Bedford Av           86             2986
135                  Bedford Park Blvd           92             8356
136                  Bedford Park Blvd           92             8356
137                  Bedford Park Blvd           92             8356
138                        Bleecker St           84             1756
139                        Bleecker St           84             1756
140                       Borough Hall           91             1414
141                       Borough Hall           91             1414
142                      Bowling Green          168             4734
143                      Bowling Green          168             4734
144                          Briarwood           39                0
145              Broadway-Lafayette St          203             1756
146              Broadway-Lafayette St          203             1756
147              Broadway-Lafayette St          203             1756
148          Brooklyn Bridge-City Hall          150             2621
149          Brooklyn Bridge-City Hall          150             2621
150          Brooklyn Bridge-City Hall          150             2621
151                           Canal St          115             1154
152                           Canal St          115             1154
153                        Chambers St          181             6570
154                        Chambers St          181             6570
155                        Chambers St          181             6570
156                        Chambers St          181               68
157                        Chambers St          181               68
158                          Church Av          178             5191
159                          Church Av          178             5191
160                          Church Av          178             3804
161                          Church Av          178             3804
162                          Church Av          178             3804
163                           Clark St          260             4385
164                           Clark St          260             4385
165                           Clark St          260             4385
166          Coney Island-Stillwell Av           74             3282
167          Coney Island-Stillwell Av           74             3282
168                           Court Sq          192             1260
169                           Court Sq          192             1260
170                           Court Sq          192             1260
171                           Court St          229             4241
172                           Court St          229             4241
173                 Crown Hts-Utica Av           83             2482
174                 Crown Hts-Utica Av           83             2482
175                          DeKalb Av          116             4764
176                          DeKalb Av          116             4764
177                          DeKalb Av          116             4764
178                         Dyckman St           60             8295
179                         Dyckman St           60             8295
180                           E 149 St           18             5751
181                           E 149 St           18             5751
182                           E 180 St           48             1765
183                           E 180 St           48             1765
184       Eastern Pkwy-Brooklyn Museum          114                0
185       Eastern Pkwy-Brooklyn Museum          114                0
186       Eastern Pkwy-Brooklyn Museum          114                0
187                          Euclid Av          148             4841
188                          Euclid Av          148             4841
189                          Euclid Av          148             4841
190               Far Rockaway-Mott Av          143             3899
191               Far Rockaway-Mott Av          143             3899
192       Flatbush Av-Brooklyn College           52             2335
193                        Flushing Av           81              344
194                        Flushing Av           81              344
195                        Flushing Av           81              344
196                   Flushing-Main St           60             3385
197                         Fordham Rd          152             4744
198                         Fordham Rd          152             4744
199                         Fordham Rd          152             4744
200                 Forest Hills-71 Av          143             5106
201                 Forest Hills-71 Av          143             5106
202                 Forest Hills-71 Av          143             5106
203                        Franklin Av           99             3910
204                        Franklin Av           99             3910
205                          Fulton St          597             7849
206                          Fulton St          597             7276
207                          Fulton St          597             7276
208                          Fulton St          597             7276
209                          Fulton St          597             7276
210                          Fulton St          597             7276
211                          Fulton St          597             7849
212                Grand Central-42 St          310             1530
213                Grand Central-42 St          310             1530
214                Grand Central-42 St          310             1530
215                Grand Central-42 St          310             5058
216                Grand Central-42 St          310             1530
217                           Grand St           31             2421
218                           Grand St           31             2421
219                      Greenpoint Av           81             4182
220                      Greenpoint Av           81             4182
221                      Greenpoint Av           81             4182
222                        Gun Hill Rd          232             2958
223                        Gun Hill Rd          232             2958
224                        Gun Hill Rd          232             2060
225                        Gun Hill Rd          232             2060
226                     Hunts Point Av          151             5690
227                     Hunts Point Av          151             5690
228                     Hunts Point Av          151             5690
229                      Inwood-207 St           71             9280
230                      Inwood-207 St           71             9280
231           Jackson Hts-Roosevelt Av          101             5380
232           Jackson Hts-Roosevelt Av          101             5380
233      Jamaica Center-Parsons/Archer           77                0
234      Jamaica Center-Parsons/Archer           77                0
235                     Jamaica-179 St          149             3510
236                     Jamaica-179 St          149             3510
237                     Jamaica-179 St          149             3510
238                   Jamaica-Van Wyck           53             1694
239                   Jamaica-Van Wyck           53             1694
240                   Jay St-MetroTech          247             1414
241                   Jay St-MetroTech          247             1414
242                   Jay St-MetroTech          247             1414
243                   Jay St-MetroTech          247             1414
244                      Junction Blvd          143             4249
245                      Junction Blvd          143             4249
246                      Junction Blvd          143             4249
247             Kew Gardens-Union Tpke          339                0
248             Kew Gardens-Union Tpke          339                0
249             Kew Gardens-Union Tpke          339                0
250                          Kings Hwy           80             3408
251                          Kings Hwy           80             3408
252                     Kingsbridge Rd          177             4687
253                     Kingsbridge Rd          177             4687
254                     Kingsbridge Rd          177             4687
255                 Lexington Av/53 St           43             7190
256                 Lexington Av/63 St          558             2863
257                 Lexington Av/63 St          558             2863
258                 Lexington Av/63 St          558             2863
259                 Lexington Av/63 St          558             2863
260                 Lexington Av/63 St          558             2863
261                 Lexington Av/63 St          558             2863
262                 Lexington Av/63 St          558             2863
263                         Livonia Av          127             4352
264                         Livonia Av          127             4352
265                           Marcy Av           81             2576
266                           Marcy Av           81             2576
267                 Myrtle-Wyckoff Avs          119             3881
268                 Myrtle-Wyckoff Avs          119             3881
269                 Myrtle-Wyckoff Avs          119             3881
270                     New Utrecht Av           83             1857
271           Ozone Park-Lefferts Blvd          314             3551
272           Ozone Park-Lefferts Blvd          314             3551
273                    Pelham Bay Park           89             6287
274                    Pelham Bay Park           89             6287
275                        Pelham Pkwy           89             2706
276                        Pelham Pkwy           89             2706
277                        Pelham Pkwy           89             2706
278                      Prospect Park           70             2692
279                      Prospect Park           70             2692
280                       Queens Plaza          156             2557
281                       Queens Plaza          156             2557
282                       Queens Plaza          156             2557
283                   Roosevelt Island          342             2644
284                   Roosevelt Island          342             2644
285                         Simpson St          173             2132
286                         Simpson St          173             2132
287                        South Ferry           98             1694